/* src/components/HeroSlider.css */

.hero-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 400px; /* Adjust the height as needed */
    overflow: hidden;
  }
  
  .slider-content {
    position: relative;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  .legend {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    z-index: 1;
  }
  
  .slider-btn:focus {
    outline: none;
  }
  